/* GENERAL */
html{
    height: 100%;
    width: 100%;
    color: #ffffff;
}
.margin-left{margin-left: 5px;}
.margin-left-2x{margin-left: 10px;}

.margin-right{margin-right: 5px;}
.margin-right-2x{margin-right: 10px;}

.color-share-fi{
    color: #910480;
}
.btn.btn-share-fi{
    background-color: #910480;
    border-color: #910480;
    color:#FFF;
    padding: 6px 40px;
}
.btn.btn-share-fi:hover{
    background-color: #78036a;
    border-color: #78036a;
}

.icon-container{
    margin-top: 50px;
    margin-bottom: 30px;
}
.icon-container img{
    margin: 0 auto;
    max-width: 160px;
}
.title-container{
    margin-top: 120px;
}
.explanation-container{
    margin-top: 30px;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 16px;
}
.sponsor-container{
    position: absolute;
    bottom: 0;
    height: 65px;
    width: 100%;
    z-index: 100;
    background-image: url('/img/sb.png');
    background-position: center;
    background-size: auto 65px;
}
strong.title{
    font-size: 18px;
    color: #ffffff;
}

/* NAVIGATION BAR */
.navbar{min-height: 20px !important;}
.navbar-share-fi{
    background-color: #5d5d5d !important;
    border: none;
}

.navbar-nav{
    margin: 0;
}
.share-fi-navbar{
    width: 100%;
}
.navbar-share-fi a{
    color: #ffffff;
    padding: 7px 0 !important;
}
.share-fi-navbar li{
    width: 33.3333%;
    text-align: center;
    font-size: 24px;
    float: left;
    color: #ffffff;
}
.share-fi-navbar-btn:hover{
    background-color: #5d5d5d !important;
}
.share-fi-navbar-btn:hover a{color: #ffffff;}
.share-fi-navbar-btn.active, .share-fi-navbar-btn.active a{background-color: #853280 !important;}
.share-fi-navbar-btn.active:hover, .share-fi-navbar-btn.active:hover a{background-color: #78036a !important;}
.share-fi-navbar-btn:hover, .share-fi-navbar-btn:hover a{background-color: #777777 !important;}

/* LOGIN */
.template-body{
    height: 100%;
    width: 100%;
    background: #5d5d5d; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #5d5d5d 0%, #3b3b3b 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#5d5d5d), color-stop(100%,#3b3b3b)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #5d5d5d 0%,#3b3b3b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #5d5d5d 0%,#3b3b3b 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #5d5d5d 0%,#3b3b3b 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #5d5d5d 0%,#3b3b3b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5d5d', endColorstr='#3b3b3b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.center-button-container{
    width: 100%;
}
.login-forgot-link, .login-forgot-link:hover{
    color: #FFF;
    font-size: 11px;
}

/* LOADING */
.icon-loading{
    color: #FFF;
    font-size: 80px;
    margin-top: 30px;
    text-shadow: 3px 3px 0px #78036a;
    filter: dropshadow(color=#78036a, offx=3, offy=3);
}

/* HOME (no internet) */
#homeBtn{
    max-height: 200px;
    margin:0 auto;
}
.big-icon-container{
    margin-top: 50px;
}
.big-icon-container i{
    font-size: 100px;
    color:#ffffff;
}

/* SEARCHING */
.searching-title-container{
    margin-top: 60px;
    color: #ffffff;
}
.searching-body{
    background-image: url('/img/coffee.JPG');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: auto 100%;
}
#searching-starbucks-logo{
    width: 70px;
    margin-top: 20px;
}
.searching-message{
    font-family: Consolas;
    margin-top: 30px;
    color: #ffffff;
}
.searching-message .main{
    font-size: 20px;
    margin-bottom: 20px;
}
.searching-icon-loading{
    color: #FFF;
    font-size: 80px;
    margin-top: 30px;
    opacity: 0.7;
}

/* CONNECTED */
.connected-limit-container{
    margin: 20px 0;
}
.connected-limit-container .limit{
    font-size: 20px;
    color: #ffffff;
}
.connected-limit-container .current{
    font-size: 80px;
    line-height: 80px;
    color: #ffffff;
}

/* THANK YOU */

/* SETTINGS */
#settings-form{
    margin-top: 20px;
    margin-bottom: 40px;
}
#settings-form label{
    font-weight: normal;
    color: #ffffff;
}
#settings-form .form-group{
    margin-bottom: 20px;
}
#settings-form option{
    color: #666666 !important;
}

/* PROFILE */
#rewards-panel{
    color: #444;
}
#rewards-panel button{
    margin-top: -4px;
}